<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/static/script.js"></script> 
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="hooks">
    </div>

    <form id="add" style="display: none;">
        <h3>Logged in as <span id="username"></span></h3>
        <br>
        <label for="id">Enter API Endpoint</label>
        <input id="url" type="text">
        <br>
        <input type="button" value="Submit" onclick="register_hook(document.getElementById('url').value)">
    </form>

    <form id="login" style="display: block;">
        Login
        <br>
        <label for="user">Username</label>
        <input id="user" type="text">
        <br>
        <br>
        <label for="pass">password</label>
        <input id="pass" type="password">
        <br>
        <br>
        <input type="button" value="Submit" onclick="login(document.getElementById('user').value, document.getElementById('pass').value)">
    </form>
</body>
</html>





